---
layout: default
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            <div class="links">
                {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
                {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
                {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
                {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
                {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow fa-2x"></i></a>{% endif %}
                <a href="feed.xml" target="_new"><i class="fa fa-rss fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Venmo - Gets Job Done </h2>
		<h4>I am really excited to talk about the product that I truly love, a product that took my breath away, Venmo. If you are the kind of person who splits the rent with roommates, dines out in groups, or does not carry cash, Venmo is a fantastically hassle-free way to make payments. Venmo is similar in many ways to Square Cash or PayPal, but its mobile phone functionality and free transfer service make it one of the most convenient, low-cost options for cash transfers currently available. With $1 billion worth of transfer just in January 2016, Venmo has already achieved that rare  milestone in the product services world: its name has been verbalized. "Just Venmo me."

So what makes Venmo great? Actually, what makes a great product in general? To me, a great product is something that addresses the core user need in most enjoyable and easy way possible. A great product should make me wonder “What did I even do before this product was created?”. And Venmo accomplishes exactly this through four different ways. 

First, Venmo provides tangible value to customers. Venmo saves me a substantial amount time by eliminating the need to type in credit card information when making purchases on your mobile device. It provides a connective layer across all the apps on your phone, designed to make every payment in a new app as easy as taking a picture. Paying with a credit card is a 4-step process that involves taking out the credit card, typing it in, typing in security codes and verifying. Paying with cash can be a 4-7 step process which depends on cash availability. Venmo makes these necessary step and accomplishes the task with 3 taps and takes 10 seconds. This saves me approximately 3-5 minutes per transaction in my own experience and the service is free.

Second, Venmo does many “jobs”. One job is to eliminate the necessity to ask your friend for money  which might be an awkward situation to be in. Another job is to fight the stigma of being the friend that always owes money to others. It also helps to reduce the hassle that comes with carrying cash. It You can easily request or pay back with few simple taps on your phone. 

Third, Venmo has a smart design. Venmo automatically imports the Facebook contacts and conveniently fits into the existing ecosystem. It accomplishes this by understanding young people's' spending habits. They share cabs, buy each other drinks, cover tabs when someone is short, and above all, they go out to dinner in big groups. Venmo also has a very simple and minimalistic user interface and limits the number of excessive features that negatively impact the user experience.

Fourth, Venmo has a Community.
</h4>

              <ul>
                  {% for post in site.posts | limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
			<h2>Venmo - Gets Job Done </h2>
                      <small><i><a href="/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
